@import "common.css";

label.ip{
    font-weight: bold;
}

scrolledwindow, viewport{
    border: none;
}

.headerbar_menu_model{
	padding: 5px 8px 5px 8px;
}

.dashboard_popover_menu box{
    padding: 3px 5px;
    margin: 3px 5px;
}

.dashboard_popover_menu modelbutton label{
	margin-left: -10px
}

grid.connected_label_grid, grid.ip_server_load_labels_grid,
grid.connection_speed_label_grid, button.transparent{
    margin: 20px 30px 0px 30px
}

grid.connected_label_grid{
    font-size: 17px;
}

grid.ip_label_grid {
    font-size: 16px;
}