@import "common.css";

window label{
    color: white;
}

label.ip{
    font-weight: bold;
}

scrolledwindow, viewport{
    border: none;
}

headerbar label{
    color: @def_bg_color
}

grid.connected_label_grid, grid.ip_server_load_labels_grid,
grid.connection_speed_label_grid, button.transparent{
    margin: 20px 30px 0px 30px
}

grid.connected_label_grid{
    font-size: 17px;
}

grid.ip_label_grid {
    font-size: 16px;
}