include *.cfg
recursive-include protonvpn_gui *.css
recursive-include protonvpn_gui *.ui
recursive-include protonvpn_gui *.svg
recursive-include protonvpn_gui *.png
recursive-include protonvpn_gui *.jpg
include LICENSE
include *.md
include .desktop
exclude tests/
exclude .gitignore
exclude *.sh
exclude *.yml
exclude Dockerfile