include *.cfg
recursive-include protonvpn_gui *.css
recursive-include protonvpn_gui *.ui
recursive-include protonvpn_gui *.svg
recursive-include protonvpn_gui *.png
include LICENSE
exclude tests/
exclude .gitignore
exclude *.sh
exclude *.yml
exclude Dockerfile