@import "margin.css";
@import "padding.css";
@import "font-size.css";
@import "colours.css";
@import "buttons.css";

window{
	background-color: @background-norm;
}

window decoration{
	border: none;
	outline: none;
	background: none;
}

window headerbar{
	border: none;
	outline: none;
}

frame border {
  border: none;
  outline: none;
  background-image: none;  
}

/* ENTRIES */
entry{
  border-image:none; 
  outline: none;
  text-shadow: none;
  box-shadow: none;
  background-image: none;
  background-color: transparent;
  color: @text-norm;
  caret-color: @text-hint;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid @border-weak;
  font-size: 17px;
  padding-bottom: 5px;
  border-radius: 0px;
}
entry image:first-child{
  color: @text-hint;
}
entry:focus{
  border-image:none;
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid @border-weak;
}

textview.default-text-view {
	background: transparent;
}
textview.default-text-view text{
	background: transparent;
  color: @text-norm
}

/* LABELS */
label{
  text-shadow: none;
}
label.overlay_bottom_label{
  font-size: 24px;
  margin-bottom: 80px;
  font-style: italic;
  color: @text-norm;
}
label.bold{
  font-weight: bold;
}
label.text-hint{
  color: @text-hint
}
label.text-weak{
  color: @text-weak
}
label.text-normal{
  color: @text-norm
}
label.text-danger{
  color: @signal-danger;
}
.view-more label{
  color: @primary;
}

/* OTHERS */
.banner-default, .banner-error{
  padding: 10px 0px 10px 0px;
  font-size: 14px;
  color: @text-norm;
}

.banner-default{
  background-color: transparent;
}

.banner-error{
  background-color: @signal-danger;
}

spinner {
  color: rgba(255,255,255, 0.8)
}

box.overlay, box.connecting_overlay{
  background: @background-norm
}

switch.custom-switch{
	background-image: none;
	color: transparent;
	border-radius: 50px;
	transition-duration: 0.2s;
	outline-width: 0;
	outline-offset: 0;
	min-width: 10px;
}

switch.custom-switch.enabled{
  border: 1.5px solid @text-weak;
}

switch.custom-switch.disabled, switch.custom-switch.disabled:hover{
  border: 1.5px solid @text-disabled;
}

switch.custom-switch.disabled:checked, switch.custom-switch.disabled:checked:hover{
  background-color: @text-disabled;
  border: 1.5px solid @text-disabled;
}

switch.custom-switch.enabled:hover{
	background-color: @interaction-default-hover;
	border-color: @text-norm;
}

switch.custom-switch.enabled:active{
	background-color: @interaction-default-active;
	border-color: @text-norm;
}

switch.custom-switch.enabled:checked{
	background-color: @interaction-norm;
	border-color: @interaction-norm;
}

switch.custom-switch.enabled:checked:hover{
  background-color: @interaction-norm-hover;
  border-color: @interaction-norm-hover;
}

switch.custom-switch.enabled:checked:active{
	background-color: rgba(152, 128, 255, 1);
	border-color: rgba(152, 128, 255, 1);
}

switch.custom-switch slider{
	background-image: none;
	margin: 5px 5px;
	border-radius: 100px;
	outline-width: 0;
	outline-offset: 0;
	-gtk-outline-radius: 0;
	min-width: 15px;
	min-height: 15px;
}

switch.custom-switch.enabled slider{
  background-color: @text-norm;
}

switch.custom-switch.disabled slider{
	background-color: @text-disabled;
}

switch.custom-switch.disabled:checked slider{
	background-color: @text-norm;
}
