@import "margin.css";
@import "padding.css";
@import "font-size.css";
@import "colours.css";
@import "buttons.css";

window{
	background-color: @background-weak;
}

window decoration{
	border: none;
	outline: none;
	background: none;
}

window headerbar{
	border: none;
	outline: none;
}

frame border {
  border: none;
  outline: none;
  background-image: none;  
}

/* ENTRIES */
entry{
  border-image:none; 
  outline: none;
  text-shadow: none;
  box-shadow: none;
  background-image: none;
  background-color: transparent;
  color: rgb(255,255,255);
  caret-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid @border-weak;
  font-size: 17px;
  padding-bottom: 5px;
  border-radius: 0px;
}
entry image:first-child{
  color: rgba(255,255,255, 0.6)
}
entry:focus{
  border-image:none;
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid @border-weak;
}

textview.default-text-view {
	background: transparent;
}
textview.default-text-view text{
	background: transparent;
  color: rgb(255, 255, 255)
}

/* LABELS */
label{
  text-shadow: none;
}
label.default-text-color{
  color: rgb(255,255,255)
}
label.overlay_bottom_label{
  font-size: 24px;
  margin-bottom: 80px;
  font-style: italic;
  color: rgb(255,255,255);
}
label.warning-color{
  color: @signal-danger;
  font-weight: bold;
}
label.dark-text-color{
  color: rgb(156, 160, 170)
}
label.bold{
  font-weight: bold;
}



/* OTHERS */
.banner-default, .banner-error{
  padding: 10px 0px 10px 0px;
  font-size: 14px;
  color: rgb(255,255,255);
}

.banner-default{
  background-color: transparent;
}

.banner-error{
  background-color: @signal-danger;
}

spinner {
  color: rgba(255,255,255, 0.8)
}

box.overlay, box.connecting_overlay{
  background: @background-norm
}