@import "common.css";

window#dashboard-view{
	background-color: @background-weak;
}
  
viewport{
	background-color: transparent;
}

/* grid.dashboard_grid  button.transparent-white:hover label{
    color: rgb(0,0,0);
} */

image.event-notification{
    background-image: radial-gradient(3px circle at 22px 2px, @signal-danger 50%,transparent 100%);
}

grid.connection_speed_label_grid label, grid.ip_server_load_labels_grid label{
	color: @text-norm;
}

#download-speed-label, #upload-speed-label{
    font-size: 14px;
}

scrolledwindow, viewport{
    border: none;
}

.headerbar_menu_model{
	padding: 5px 8px 5px 8px;
}

.dashboard_popover_menu box{
    padding: 3px 5px;
    margin: 3px 5px;
}

.dashboard_popover_menu modelbutton label{
	margin-left: -10px
}

grid.connected_label_grid, grid.ip_server_load_labels_grid,
grid.connection_speed_label_grid{
    margin: 20px 30px 0px 30px
}

button.main-button{
	margin: 25px 30px 0px 30px;
	padding: 13px 0px;
}

grid.connected_label_grid{
    font-size: 17px;
}

grid.ip_label_grid {
    font-size: 16px;
}

#connecting_overlay_grid {
	margin: 0px 15px;
}

grid#connecting_overlay_grid > *{
    margin: 20px 0px
}

grid#connecting_overlay_grid > button{
    margin-top: 20px;
}

grid#connecting_overlay_grid > grid label{
    font-size: 18px;
}

grid#connecting_overlay_grid > grid label#connecting_to_country_servername_label{
    font-weight: bold;
}

grid.not-connected-background{
    /* padding-bottom: 80px; */  
    background-color: @background-norm;
}

grid.connected-background{
    /* padding-bottom: 80px; */
    background-image: linear-gradient(rgba(28, 27, 36, 0), rgba(28, 27, 36, 1));
}

.connection_speed_label_grid image{
    margin: 0 5px;
}

#top-sever-locations-grid{
	padding: 5px 20px;

}

grid.country-header{
	margin-top: 16px;
	margin-bottom: 8px;
	margin-right: 15px;
	/* Unsure if it fits better with bold or not */
	/* font-weight: bolder; */
}
#servers-info-icon-button, grid.country-header button{
	background-image: none;
	border: none;
	outline: none;
	box-shadow: none;
	background-color: transparent;
}
#servers-info-icon-button:active, grid.country-header button:active{
	background-image: none;
	border: none;
	outline: none;
	box-shadow: none;
}
#servers-info-icon-button image, grid.country-header image{
	background-image: none;
	border: none;
	outline: none;
	box-shadow: none;
	-gtk-icon-shadow: none;
}

#dashboard-button-box-grid, #dashboard-search-entry-grid{
	margin: 10px 20px 10px 20px
}

#dashboard-button-box-grid{
	margin-top: 15px
}

#dashboard-button-box-grid button{
	border: none;
	outline: none;
	-gtk-icon-effect: none;
	-gtk-icon-source: none;
	-gtk-icon-shadow: none;
	border-radius: 8px;
	background-color: @background-strong;
	padding: 10px 35px;
}

#dashboard-button-box-grid button img{
	-gtk-icon-effect: none;
	-gtk-icon-source: none;
	-gtk-icon-shadow: none;
	outline: none;
	box-shadow: none;
	background-image: none;
	text-shadow: none;
}

#dashboard-button-box-grid button.pressed{
	background-color: @background-norm;
	box-shadow: none;
}

#dashboard-button-box-grid > button:nth-child(3){
	margin-left: 20px;
	margin-right: 20px;
}

#dashboard-search-entry-grid entry{
	background-color: @background-weak;
	border-radius: 8px;
	border: 1px solid @interaction-weak;
    padding: 10px 15px;
}

#server-list-grid{
	margin: 0px;
}

#server-list-grid image.server-icon{
	margin-left: 5px;
	margin-right: 5px;
}

#server-list-grid grid.server-row{
	margin-top: 5px;
	margin-bottom: 5px;
}

#server-list-grid button.chevron{
	background-color: transparent;
	background-image: none;
	box-shadow: none;
}

grid.server-list-country-margin-left{
	margin-left: 21px;
}
grid.server-list-country-margin-right{
	margin-right: 15px;
}
grid.server-row{
	margin-left: 15px;
	margin-right: 20px;
}


#server-list-grid label.server-label{
	margin-left: 5px;
	margin-right: 5px;
	font-weight: bold;
	font-size: 105%;
	padding: 4px 0px;
}
#server-list-grid label.country-label{
	font-weight: bold;
	padding: 4px 0px;
}
#server-list-grid label.city-label{
	font-size: small;
	color:@text-hint;
	/* This padding is specific so that button don't "jump" */
}

#server-list-grid label.disabled-label{
	color:@text-disabled;
}

#server-list-grid grid.country-row{
	/* padding: 8px 0px; */
	padding: 0px;
	margin: 0px;
}
#server-list-grid grid.country-elements{
	padding: 10px 0px;
}

#server-list-grid widget:not(:last-child) grid.country-row{
	border-bottom: 0.2px solid @border-norm;
}

#server-list-grid grid image.country-flag{
	margin-right: 8px
}

#server-list-grid button.transparent-primary{
	padding: 0px 8px;
	border-radius: 8px;
	margin: 0;
	border-width: 2px;
}
#server-list-grid button.transparent-primary label{
	font-size: 10px;
}
#server-list-grid grid.country-row button.chevron-unfold, #server-list-grid grid.country-row button.chevron-fold{
	margin-left: 12px;
	border: none;
	margin: 0;
	-gtk-icon-shadow: none;
}
.server-names-grid{
	background-color: @background-norm;
	padding-bottom:  5px;
}