@import "common.css";

popover#popover_login_menu{
  background: @background-norm;
}

#popover_login_menu box button label{
  color: @interaction-norm-accent;
  background-color: transparent;
  background-image: none;
  text-decoration: none;
}

#popover_login_menu box button:hover{
  background-color: transparent;
  background-image: none;
  text-decoration: underline;
}

#popover_login_menu box button:hover label{
  color: @interaction-norm-accent-hover;
  background-color: transparent;
  background-image: none;
  text-decoration: underline;
}

#popover_login_menu box button:active label{
  color: @interaction-norm-accent-active;
}

label.entry_label{
  color: @text-hint;
  /* transition: all .115s ease-in-out; */
  transition: all 5s ease-in-out;
  margin-bottom: -10px;
  font-size: 13px;
}

grid#bottom_grid{
	margin-top: 70px;
	margin-bottom: 50px
}

grid#middle_grid label{
	color: @text-norm
}

box#box_login_label_links{
	margin-top: 50px
}

box#box_login_label_links > button{
  background-color: transparent;
  background-image: none;
  padding: 0px;
}

box#box_login_label_links > button label{
  padding-top: 10px;
  padding-bottom: 10px;
  color: @interaction-norm-accent;
  background-color: transparent;
  background-image: none;
  text-decoration: none;
}

box#box_login_label_links > button:hover label{
  color: @interaction-norm-accent-hover;
  background-color: transparent;
  background-image: none;
  text-decoration: underline;
}

box#box_login_label_links > button:active label{
  color: @interaction-norm-accent-active;
}

box.login-main-box{
  padding-left: 75px;
	padding-right: 75px;
	margin: 50px 0px 0px 0px;
}

#killswitch-warning-grid button.transparent{
	padding: 0px 15px;
	border-radius: 8px;
}


#killswitch-warning-grid button.transparent label{
	font-size: small;
	padding: 0px;
	margin: 0px;
}

#killswitch-warning-grid{
	padding: 15px 20px;
	border-top: 2px solid @border-weak;
}

#killswitch-warning-grid label{
	color: @text-norm;
}