#QuickSettingsPopoverView{
    background: linear-gradient(
        180deg,
        @background-gradient-first-color 0%,
        @background-gradient-second-color 100%
    );
    border-radius: 0px;
	box-shadow: 0px 0px 5px -2px black;
}

#QuickSettingsPopoverView > grid{
    margin: 15px;
}

#quick_settings_popover_container_grid grid.quick-settings-content label.quick-settings-title{
	font-size: large;
    margin-bottom: 15px;
}
#quick_settings_popover_container_grid grid.quick-settings-content label.quick-settings-description{
    font-size: medium;
    margin-bottom: 15px;
}
#quick_settings_popover_container_grid grid.quick-settings-content label.quick-settings-footnote{
    font-size: small;
    margin: 0;
    font-style: italic;
    color: rgba(255,255,255, 0.5)
}
#quick_settings_popover_container_grid label.enabled{
    font-weight: bold;
}
#quick_settings_popover_container_grid button.quick-settings{
    -gtk-icon-effect: none;
    -gtk-icon-source: none;
    outline: none;
    box-shadow: none;
    background-image: none;
    text-shadow: none;
    background-color: @green-color;
    border-color: @green-color;
    border-radius: 100px;
    margin-bottom: 15px;
}
#quick_settings_popover_container_grid button.quick-settings:hover{
    -gtk-icon-effect: none;
    -gtk-icon-source: none;
    outline: none;
    box-shadow: none;
    background-image: none;
    text-shadow: none;
    border-color: @dark-green-color;
    background-color: @dark-green-color;
}

#quick_settings_popover_container_grid button.quick-settings label{
	font-size: small;
    font-weight: bold;
    color: rgb(255,255,255)
}