#ServerFeaturesView{
    background: linear-gradient(
        180deg,
        @background-gradient-first-color 0%,
        @background-gradient-second-color 100%
    )
}

#server-features-container-grid{
	margin: 16px 32px 16px 16px;
}

#server-features-container-grid > grid{
    margin-bottom: 16px;
}

label.bold{
    font-weight: bold;
}

grid.plus-features{
    margin: 0px 0px 16px 16px;
}

grid.plus-features label{
    margin: 16px 0px;
    font-size: large;
}

#server-features-container-grid .text-color{
    color: rgb(156, 160, 170)
}
