[Desktop Entry]
Name=Proton VPN
Exec=protonvpn
Terminal=false
Type=Application
Icon=protonvpn-logo
StartupWMClass=Protonvpn
Comment=Proton VPN GUI client
Categories=Network;